@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Raleway&display=swap');
h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif !important;}
body{background:#FAF8F8;
  background:url('../img/arka.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none; 
          user-select: none; }
.container{position:relative;top:40px;background-color:#FFFFFC;z-index:0;}
.reklamAlani img{
  max-width: 100%;
  height: auto;
}
.cubukluBaslik{
  padding:0;margin:0;
  font-size:10pt;
  display: flex;
  width: 100%;
  align-items: center;
  color:#b96363;
}
 .cubukluBaslik:after  {
   color:#b9636365;
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.cubukluBaslik:after  {
  margin: 0 0 0 20px;
}
/* LOGO CSS */
#logo{
    margin-top:5px;
    width:100px;
    height:30px;
}
.logobar{
  position:fixed;
    z-index:990;
    width:100%;
    box-shadow: 1px 1px 2px 1px rgba(182, 182, 182, 0.5); 
    background-color:#FFFFFC;
}

/* Üst Menü CSS */
.ustmenu{
  font-family: 'Oswald', sans-serif;

    color:#FFFFFC;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display:inline-block;
    width:100%;
}


.ustmenu a{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
     display:inline-block;
    font-weight: 400;
    margin-right:5px;
    color:#FFFFFC;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    margin-top:2px;
    background-color:rgba(255, 0, 0, 0.959);
    padding:0px 10px;
}.ustmenu a i{font-size:10pt;}
.ustmenu a:hover{background-color:rgba(206, 14, 14, 0.644);}
#menuAcar{display:none;}
@media (max-width:600px)  { 
  .ortalar{
    display:block;
    width:100%;
  }
  #menuAcar{display:block;}
  .ustmenu a{border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;white-space:normal;display:inline-block;width:100%;text-align:center;}
  /*.ustmenu a:nth-child(-n+6){display:none;}*/
  .ustmenu a, a#tumKat ~ * {
    display:none;
  }

  .ustmenu a:last-child{display:block;}
}
.gizliMenu{
  display:none;
  border-radius:3px;
  margin-top:5px;
  height:auto;
  background-color:rgba(179, 21, 21, 0.822);
}.gizliMenu span{margin:5px;}.gizliMenu span:hover{background-color:rgba(73, 0, 0, 0.432);}.gizliMenu a{text-decoration:none;}



/* SCROLLBAR */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b93b1b;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #707070;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/* İÇ HABER */


.ichaberler{margin:0;padding:0;}
.ichaber{
  z-index:9999;
  position: relative;
  float:left;
  width:220px;
  margin-left:16.5px;
  margin-top:3px;
}
@media (max-width:600px)  { 
  .ichaber{
    margin-left:0px;
    width:100%;
  }
}
.ichaber h3{
  font-size:14pt;
  color: #ffffff;
  text-shadow: -1px -1px 1px rgba(85, 84, 84, 0.925), 1px 1px 1px rgba(141, 141, 141, 0.5);
  position: absolute;
  bottom:0px;
  padding:5px;
}

.ichaber img {
  border-radius:5px;
  width:100%;
	-webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
.ichaber:hover img {
  -webkit-transform: rotate(3deg) scale(1.01);
	transform: rotate(3deg) scale(1.01);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}.ichaber:hover h3{opacity:0.2;}


/* HAVADURUMU */
.havadurumu{
  border-radius:5px;
  margin-top:15px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:15px;
  width:100%;
  height:100px;
  background-color:#1f577c;
}
#cerceve{
  border-top:5px solid #7a8cda8e; 
  width:260px;
  height:100px;
  background-color:white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius:50px;
  float:left;
}
#cerceve h1{
  margin:0px;
  padding:0px;
  position: relative;
  bottom:15px;
  color:#1f577c;
}
#havaIcon{
width:50px;
height:50px;
position: relative;
left:40%;
}

.havaBilgileri{
  margin-left:30px;
  float:left;
  width:100px;
  height:100px;
  background-color:#7e9fb491;
}
.havaBilgileri h1,h3,span{
  color:white;
  padding:0;margin:0;
}
.havaBilgileri h1{
  font-size:25pt;
  margin:0px;
  padding:0px;
  margin-top:12px;
}.havaBilgileri h3{
  margin-top:15px;
}

.havaBilgileri span{
width:100%;
background: rgba(204, 204, 204, 0.582);
}
@media (max-width:600px)  {
  #cerceve{
  width:40%;
  }
  #cerceve h1{
   font-size:10pt;
  }
  #havaIcon{
    left:33%;
  }
  .havaBilgileri{
    margin-left:10px;
    width:24%;
  }
  .havaBilgileri h1{
    font-size:14pt;
  }
  .havaBilgileri span{
    font-size:9pt;
  }
}

/* DÖVİZ */

.doviz{
  border-radius:5px;
  margin-top:15px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:15px;
  width:100%;
  height:100px;
  background-color:#1f7c43;
}#cerceveDoviz{
  border-top:5px solid #1b8b418e; 
  width:160px;
  height:100px;
  background-color:white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  float:left;
}
#cerceveDoviz h1{
  margin:0px;
  padding:0px;
  color:#28a859;
}#cerceveDoviz i{
margin-top:15px;
position: relative;
left:45%;
color:rgb(14, 133, 14);
}
.dovizBilgileri{
  margin-left:25px;
  float:left;
  width:100px;
  height:100px;
  background-color:#7eb49b91;
}.dovizBilgileri h1,h3,span{
  color:white;
  padding:0;margin:0;
}
.dovizBilgileri h1{
  margin-top:10px;;
}.dovizBilgileri h3{
  margin-top:15px;
}
.dovizBilgileri span{
width:100%;
background: rgba(204, 204, 204, 0.582);
}

@media (max-width:600px)  { 
  .dovizBilgileri{
    margin-left:5px;
    width:18%;
  }
  #cerceveDoviz{
    width:40%;
  }
  #cerceveDoviz h1{
    font-size:14pt;
  }
}

/* EZAN VAKTİ */

.ezanvakti{
  position: relative;
  border-radius:5px;
  margin-left:15px;
  margin-right:15px;
  width:100%;
  height:200px;
  background-color:#272635;
}
.ezanBaslik{
  color:#E8E9F3;
}#ezanLogo{
  border-top:5px solid rgb(180, 167, 167);
  line-height: 0px;
  padding:10px;
  height:auto;
  width:auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color:#CECECE;
}#ezanLogo h5,b,img{color:rgb(255, 255, 255);padding:0px;margin:0;}#ezanLogo img{position:relative;left:33px;bottom:7px;}
.ilnamaz, #ezanLogo{text-shadow: 1px 1px 1px rgba(71, 71, 71, 0.534);}
.vakitler ul{position:absolute;bottom:0px;padding:0;margin:0;width:100%;left:12px;}
.vakitler ul li{
  color:white;
  float:left;
  list-style: none;
  margin-right:16px;
  padding:15px 0px;
  width:17%;
  background-color:rgba(80, 76, 99, 0.726);
  height:80px;
}.vakitler ul li i{font-style:normal;margin-top:5px;}
.cerceveli{background-color:rgba(255, 255, 255, 0.39);}

@media (max-width:600px)  { 
  #ezanLogo img{
    left:27px;
  }
  .vakitler ul{
    font-size:9pt;
    margin-left:4px;
  }
  .vakitler ul li{
    margin-right:5px;
  }
}

/* HaberKutuları */
.kutuManset{
  position: relative;
  margin-left:30px;
  height:auto;
  margin-bottom:10px;
}
.haberKutusu{
  cursor:pointer;
  float:left;
  margin-top:10px;
  margin-right:20px;
  border-radius:5px;
  width:200px;
  height:300px;
  background:rgb(53, 2, 68);
  margin-bottom:10px;
}.haberKutusu img{width:100%;height:70%;  border-radius:10px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;}
.haberKutusu h3{
  font-size:14pt;
  padding:5px;
  margin:0;padding:5;
}
.haberKutusu:hover{
  -webkit-box-shadow: inset 0px 0px 29px -1px rgba(253, 253, 253, 0.445);
  -moz-box-shadow: inset 0px 0px 29px -1px rgba(253, 253, 253, 0.445);
  box-shadow: inset 0px 0px 29px -1px rgba(214, 203, 203, 0.445);
}
#sonraki{
cursor:pointer;
position: absolute;
right:30px;
top:150px;
background-color:orange;
padding:5px;
color:white;
border-radius:5px;
-webkit-box-shadow: inset 0px 0px 29px -1px rgba(253, 253, 253, 0.445);
-moz-box-shadow: inset 0px 0px 29px -1px rgba(253, 253, 253, 0.445);
box-shadow: inset 0px 0px 9px -1px rgba(199, 72, 13, 0.445);
}
#ucgen{
  position: absolute;
  right:0px;
  top:33px;
}
@media (max-width:600px)  { 
 .haberKutusu{
   width:100%;
   margin:0;padding:0;
   margin-bottom:5px;
 }
 .kutuManset{position:relative;height:auto;margin:0;padding:0;}
 #sonraki{position:relative;margin:0;padding:5;left:0;right:0;top:0;bottom:0;}
 #ucgen{display:none;}
}

/* FOOTER */

footer{
  border-top:5px solid red;
  margin-top:5px;
  width:100%;
  height:100%;
  background-color:rgb(26, 25, 25);
  border-image:linear-gradient(to right, #f00, #ff0) 1;
}
footer img{
  padding:0;margin:0;
  margin-top:30px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
footer i{
  color:#403e41;
}footer i:hover{ color:#716f72;}
.bilgiler{padding:0  !important;margin:13px  !important;font-size:13pt !important;}

footer ul li{margin-right:30px;list-style: none;}
footer ul a{text-decoration:none !important;opacity:0.6;}

@media (max-width:600px)  { 
  footer ul{margin:0; padding:0;}
  footer ul li{margin:5px;padding:0;}
 }

.no-border>td,
.no-border>th {
   border-top: none;
   border-bottom: 0.1em solid rgba(141, 41, 34, 0.774);
 }

 